/* Reset Code */
body {
    padding: 0;
    margin: 0;
    background: #FFF;
    font-family: 'Roboto', sans-serif;
}

body a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration: none;
}

body a:hover {
    text-decoration: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

body a:focus,
a:hover {
    text-decoration: none;
}

input[type="button"],
input[type="submit"] {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

input[type="button"]:hover,
input[type="submit"]:hover {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 1.9;
    color: #999;
    font-family: 'Roboto', sans-serif;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

label {
    margin: 0;
}

a:focus,
a:hover {
    text-decoration: none;
    outline: none
}

/* //Reset Code */
/* bottom-to-top */
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 24px;
    right: 3%;
    border-radius: 50%;
    overflow: hidden;
    z-index: 999;
    width: 35px;
    height: 35px;
    border: none;
    text-indent: 100%;
    background: url(img/move-top.png) no-repeat 0px 0px;
}

#toTopHover {
    width: 32px;
    height: 32px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}

/* //bottom-to-top */
/* header */
/* logo */
a.navbar-brand {
    font-size: 36px;
    letter-spacing: 1px;
    color: #8e43e7;
    text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.06);
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus {
    color: #8e43e7;
}

/* //logo */
/* navigation */
.navbar-light .navbar-nav .nav-link {
    padding: 0;
    color: #4c4c4c;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 500;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    margin-top: 10px;
    left: -37px;
}

.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: #8e43e7;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #000;
}

/* fixed nav */
nav.fixed-navi ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav.fixed-navi ul li {
    float: left;
}

nav.navbar.navbar-expand-lg.navbar-light.fixed-navi {
    box-shadow: 1px 3px 8px 3px rgba(8, 8, 8, 0.08);
}

/* call-to-action section */

.call-to-action .text-slider-items {
    display: none;
}

.partner-us-section {
    padding: 0;
}
.partner-us-section h2 {
    font-size: 34px;
    font-weight: 600; 
}
@media (min-width: 992px) {
    .partner-us-section img {
        margin-top: -15px; 
    } 
}


/*helper*/
.isFixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background: #fff;
    transition: all 1.5s ease;
}


a.contact-button {
    background: #8e43e7;
    color: #fff;
    padding: 15px 18px;
    border-radius: 5px;
    font-size: 15px;
    letter-spacing: 2px;
}


/* banner */
.breadcrumbs {
    margin:0;
    padding:0;
    list-style:none;
}
.breadcrumbs li{
    display:inline-block;
    vertical-align:middle;
    position:relative;
    margin-right:15px;
}
.breadcrumbs li a{
    font-size:14px;
    font-weight:500;
    position:relative;
}
.breadcrumbs li a:after{
    transition:color .3s ease-in-out;
    content:"/";
    position:absolute;
    top:50%;
    right:-12px;
    font-weight:500;
    transform:translateY(-50%);
}
.breadcrumbs li a:hover, .breadcrumbs li a:hover:after{
    color:#ccc;
}


.back-banner-section {
    padding-top: 2rem;
    padding-bottom: 5rem;
    background-image: url("../img/background1.png");
}
.back-banner-section .image-wrapper {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 5px;
    margin-right: 1rem;
    overflow: hidden;
}
.back-banner-section .image-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.banner-img {
    background: url(../img/digital-transform.jpg) no-repeat bottom;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 44vw;
    border-radius: 203px 0 0 500px;
}

.style-banner {
    padding: 6em 6em 0 6em;
}

.style-banner h1 {
    font-size: 38px;
    line-height: 1.3;
    position: relative;
}

.style-banner h1:after,
h2.middle-title-w3:after {
    content: "";
    background: #8e43e7;
    width: 100px;
    height: 2px;
    position: absolute;
    bottom: -25px;
    left: 0;
}

.style-banner h1 span {
    color: #8e43e7;
}

.button-style {
    padding: 12px 25px;
    border: none;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 2px solid #8e43e7;
    background: #8e43e7;
}

.button-style:hover {
    opacity: .9;
    color: #fff;
}

/* //banner text */
h3.title-w3 {
    font-size: 38px;
    position: relative;
    letter-spacing: 1px;
}

h3.title-w3:before {
    content: "";
    background: #8e43e7;
    width: 100px;
    height: 2px;
    position: absolute;
    bottom: -18px;
    left: 503px;
    right: 0;
}

ul.list-unstyled.brands li {
    display: inline-block;
    width: 19%;
}

ul.list-unstyled.brands li i {
    color: #e8e8e8;
    font-size: 70px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

ul.list-unstyled.brands li i.active,
ul.list-unstyled.brands li i:hover {
    color: #8e43e7;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

p.title-para {
    max-width: 800px;
}

/* Home page - What we do */

.about-in .card {
    padding: 2.5em .5em;
    border: 1px solid transparent;
    -webkit-transition: box-shadow 0.3s ease-in-out;
    -moz-transition: box-shadow 0.3s ease-in-out;
    -ms-transition: box-shadow 0.3s ease-in-out;
    -o-transition: box-shadow 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out;
    background: transparent;
}

.about-in .card:hover,
.about-in .card.active {
    background: #fff;
    -webkit-box-shadow: 0px 0px 18.69px 2.31px rgba(204, 204, 223, 0.5);
    -moz-box-shadow: 0px 0px 18.69px 2.31px rgba(204, 204, 223, 0.5);
    box-shadow: 0px 0px 18.69px 2.31px rgba(204, 204, 223, 0.5);
    border-radius: 15px;
}

.about-in .card i {
    font-size: 34px;
    color: #fff;
    width: 75px;
    height: 75px;
    background: #8e43e7;
    border-radius: 50%;
    line-height: 2.2;
}

.about-in .card h5.card-title {
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 600;
}

/* Clients */
.clients-section {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: #ffffff;
}
.clients-section img {
    width: 120px;
    margin: auto;
}
.clients-section .card {
    transition: all 0.3s;
    height: fit-content;
    padding: 1rem 0;
    opacity: 0.7;
    background-color: transparent;
    border: none;
    margin-bottom: 1rem;
}
@media (min-width: 992px) {
    .clients-section .card {
      max-width: 12.5%;
    }
}

/********** owl carousel  **************/
.carousel{
    max-width: 1200px;
    margin: auto;
    padding: 0 30px;
}
.carousel .card{
    background-color: white;
    text-align: center;
}
.owl-carousel .owl-dots {
    text-align: center;
}
.owl-carousel .owl-dots .owl-dot {
    width: 10px;
    height: 10px;
    margin: 5px;
    border-radius: 50%;
    background: #e6e6e6;
    position: relative; 
}
.owl-carousel .owl-dots .owl-dot:after {
    position: absolute;
    top: -2px;
    left: -2px;
    right: 0;
    bottom: 0;
    width: 14px;
    height: 14px;
    content: '';
    border: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; 
}
.owl-carousel .owl-dots .owl-dot:hover, .owl-carousel .owl-dots .owl-dot:focus {
    outline: none !important;
}
.owl-carousel .owl-dots .owl-dot.active {
    background: #b3b3b3;
}

/* Testimonials */
.testimonials .testimony-wrap {
    position: relative;
    background: white;
    padding: 0 20px;
    border: 1px solid rgba(0, 0, 0, 0.02);
    -webkit-box-shadow: 0px 5px 21px -14px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0px 5px 21px -14px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 5px 21px -14px rgba(0, 0, 0, 0.14);
    border-radius: 5px; 
}
.testimonials .testimony-wrap .user-img {
    width: 80px;
    height: 80px;
    position: relative;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; 
}
.testimonials .testimony-wrap .fa {
    color: #8e43e7;
    font-size: 30px;
    position: absolute;
    left: 20px; 
}
.testimonials .testimony-wrap .name {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 0;
    color: #000000; 
}
.testimonials .testimony-wrap .position {
    font-size: 16px;
    color: #b3b3b3; 
}

/* Blog */

.block-20 {
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    display: block;
    width: 100%;
    height: 300px; 
}
  
.blog-entry {
    position: relative; 
    border: 1px solid rgba(0, 0, 0, 0.02);
}
@media (min-width: 768px) {
    .blog-entry {
    margin-bottom: 30px; } 
}
@media (max-width: 767.98px) {
    .blog-entry {
    margin-bottom: 30px; } 
}
.blog-entry .text {
    width: 100%;
    padding: 0 20px;
    margin: 0 auto; 
}
.blog-entry .text .heading {
    font-size: 20px;
    margin-bottom: 16px;
    font-weight: 500; 
}
.blog-entry .text .heading a {
    color: #000000; 
}
.blog-entry .text .heading a:hover, .blog-entry .text .heading a:focus, .blog-entry .text .heading a:active {
    color: #b1b493; 
}
.blog-entry .meta {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 0;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px; 
}
.blog-entry .meta span {
    color: #b1b493; 
}
.blog-entry .meta a {
    color: #b1b493; 
}
.blog-entry .meta a:hover {
        color: #b1b493; 
}
  
.block-23 ul {
    padding: 0; 
}
.block-23 ul li, .block-23 ul li > a {
    display: table;
    line-height: 1.5;
    margin-bottom: 15px; 
}

.block-23 ul li .icon, .block-23 ul li .text {
    display: table-cell;
    vertical-align: top; 
}
.block-23 ul li .icon {
    width: 40px;
    font-size: 18px;
    padding-top: 2px;
}


/* Contact */

.block-9 .form-control {
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    font-size: 15px; 
}
.contact-section .img {
    width: 100%;
    background-position: top center; 
}
  
.contact-section .contact-info p a {
    color: #fff; 
}
  
.contact-section .contact-form {
    width: 100%;
    border-radius: 5px; 
}

@media (max-width: 767.98px) {
    .contact-section .contact-form .btn-primary {
    display: block;
    width: 100%; } 
}
.contact-section .contact-form .form-control {
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px 20px; 
}
.contact-section .contact-form .form-control {
    height: 36px;
    background: #fff;
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    border-radius: 2px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 2px solid #b1b493; 
}
.contact-section .contact-form .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(0, 0, 0, 0.5) !important; 
}
.contact-section .contact-form .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(0, 0, 0, 0.5) !important; 
}
.contact-section .contact-form .form-control:-ms-input-placeholder {
    /* IE 0+ */
    color: rgba(0, 0, 0, 0.5) !important; 
}
.contact-section .contact-form .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(0, 0, 0, 0.5) !important; 
}
.contact-section .contact-form .form-control:focus, .contact-section .contact-form .form-control:active {
    border-color: #b1b493 !important; 
}
.contact-section .contact-form textarea.form-control {
    height: inherit !important; 
}
  
.dbox {
    width: 100%;
    margin-bottom: 0px; 
}
@media (max-width: 767.98px) {
    .dbox {
    margin-bottom: 25px !important;
    padding: 0 20px; } 
}
.dbox p {
    margin-bottom: 0; 
}
.dbox p span {
    font-weight: 500;
    color: #000000; 
}
.dbox p a {
    color: #8e43e7; 
}
.dbox .icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #8e43e7;
    margin: 0 auto;
    margin-bottom: 20px; 
}
.dbox .icon span {
    font-size: 20px;
    color: #fff; 
}
.dbox .text {
    width: calc(100% - 50px);
    padding-left: 15px; 
}
.dbox .text span {
    display: block;
    line-height: 1.2; 
}

/* Purpose and values */
.purpose-section .work-process p {
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 20px;
}
  
.purpose-section .work-process p span {
    display: block;
    margin-top: 10px;
}
  
  
.purpose-section .work-process ul li {
    font-size: 15px;
    margin-bottom: 20px;
    line-height: 25px;
}
  
.purpose-section .work-process ul li i {
    float: left;
    border: 1px solid #dddddd;
    width: 35px;
    height: 35px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    padding-top: 9px;
    margin-right: 15px;
}

.purpose-section .value-box {
    margin: 0 auto;
    padding: 0.938rem;
    border-radius: 5px;
    box-shadow: 0 3px 10px #a17a69;
}
  
.purpose-section .value-box .value-hr {
    margin-bottom: 28px;
}
  
.purpose-section .value-box .value-hr h6 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 18px;
}
  
.purpose-section .value-box .value-hr h6 i {
    margin-right: 8px;
}
  
.purpose-section .value-box .value-hr ul li {
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: 1px dashed #dddddd;
}
  
.purpose-section .value-box .help-box h6 {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 13px;
}
  
.purpose-section .value-box .help-box h6 i {
    margin-right: 8px;
}
  
.purpose-section .value-box .help-box p {
    line-height: 25px;
    margin-bottom: 25px;
}
  
.purpose-section .value-box .help-box a {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 8px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    border-radius: 25px;
}
  
/* Who we work with */
.service-h4{
    padding-bottom: 30px;
}
  
.service-icon {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60px;
}
  
.service-box{
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.1);  
    margin-left: 20px;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
}
.service-box:hover{
    box-shadow: 0px 1px 13px rgba(27, 27, 27, 0.705); 
   
}

/* Accordian section */
.accordion-section {
    padding-top: 3rem;
    padding-bottom: 2rem;
    background-color: #ffffff;
}
.accordion-section .mbr-iconfont {
    font-size: 1.4rem !important;
    color: #2299aa;
    margin-left: 1rem;
}
.accordion-section .panel-group {
    border: none;
}
.accordion-section .panel-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.accordion-section .panel-body, .accordion-section .card-header {
    padding: 1rem 0;
}
.accordion-section .panel-title-edit {
    color: #000000;
}
.accordion-section .card {
    border: none;
}
.accordion-section .card .card-header {
    background-color: transparent;
    margin-bottom: 0;
}

.media-container-row {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: start;
    -ms-flex-align: start;
    align-items: start; 
}
.media-container-row .media-size-item {
      width: 400px; 
}
.display-1 {
    font-size: 4.25rem;
}
.display-1 > .mbr-iconfont {
    font-size: 6.8rem;
}
.display-4 {
    font-size: 1.1rem;
    line-height: 1.5;
}
.display-4 > .mbr-iconfont {
    font-size: 1.375rem;
}
.display-5 {
    font-size: 2.2rem;
    line-height: 1.5;
}
.display-5 > .mbr-iconfont {
    font-size: 2.75rem;
}
.display-7 {
    font-size: 1.2rem;
    line-height: 1.5;
}
.display-7 > .mbr-iconfont {
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    .display-1 {
        font-size: 3.4rem;
        font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
        line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
    }
    .display-4 {
      font-size: 0.88rem;
      font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
      line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
    }
    .display-5 {
        font-size: 1.76rem;
        font-size: calc( 1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20)));
        line-height: calc( 1.4 * (1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20))));
    }
    .display-7 {
      font-size: 0.96rem;
      font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
      line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
    }
}

/* Our Approach */
.approach {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: #f4eded;
}
.approach .item {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.approach .item .icon-wrap {
    text-align: center;
}
.approach .item span {
    font-size: 2rem;
    color: #ffffff;
    line-height: 60px;
}

  
.approach .icon-box {
    background: #6592e6;
    width: 60px;
    min-width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
}
.approach .text-box {
    margin-top: 1rem;
    text-align: center;
}
.approach .mbr-iconfont {
    color: #2299aa !important;
    position: absolute;
    top: 50%;
    left: 100%;
}
.style-agile-border {
    position: absolute;
    top: 43px;
    right: -49px;
}

@media (max-width: 991px) {
    .approach .card-wrapper {
      margin-bottom: 2rem;
    }
    .style-agile-border img {
        width: 60%;
    }
}
@media (max-width: 768px) {
    .style-agile-border {
        display: none;
    }
}

/* software development - Features-1 - promise  */
.features-1 {
    padding-top: 2rem;
    padding-bottom: 3rem;
}
.features-1 .card {
    background-color: transparent;
    border: none;
}
.features-1 .card-wrapper {
    display: flex;
}
@media (max-width: 991px) {
    .features-1 .card-wrapper {
      margin-bottom: 2rem;
    }
}
.features-1 .mbr-iconfont {
    font-size: 2rem;
    color: #6592e6;
    padding-right: 0.5rem;
}

/* power bi training - Features-2 - what sets us apart  */
.features-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.features-2 .line {
    background-color: #149dcc;
    color: #149dcc;
    text-align: center;
    height: 2px;
    margin: 0 auto;
}
.features-2 .mbr-text {
    padding: 1rem 0;
}

/* power bi training - Features-3 - training options  */
.features-3 {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: #ffffff;
}
.features-3 img,
.features-3 .item-img {
    width: 100%;
}
.features-3 .item:focus,
.features-3 span:focus {
    outline: none;
}
.features-3 .item {
    cursor: pointer;
    margin-bottom: 2rem;
}
.features-3 .item-wrapper {
    position: relative;
    border-radius: 4px;
    background: #fafafa;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}
@media (min-width: 992px) {
    .features-3 .item-wrapper .item-content {
      padding: 2rem 2rem 0;
    }
    .features-3 .item-wrapper .item-footer {
      padding: 0 2rem 2rem;
    }
}
@media (max-width: 991px) {
    .features-3 .item-wrapper .item-content {
      padding: 1rem 1rem 0;
    }
    .features-3 .item-wrapper .item-footer {
      padding: 0 1rem 1rem;
    }
}
.features-3 .mbr-section-btn {
    margin-top: auto !important;
}
.features-3 .mbr-section-title {
    color: #232323;
}
.features-3 .mbr-text,
.features-3 .mbr-section-btn {
    text-align: left;
}
.features-3 .item-title {
    text-align: left;
}
.features-3 .item-subtitle {
    text-align: left;
}

/* data analytics & bi - Features-4 - accelerate your journey  */
.features-4 {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: #ffffff;
}
.features-4 .card-box {
    z-index: 10;
    position: relative;
}
@media (min-width: 1500px) {
    .features-4 .container {
      max-width: 1400px;
    }
}
.features-4 .card {
    margin: auto;
    border: none;
}
.features-4 .mbr-iconfont {
    display: block;
    font-size: 5rem;
    color: #6592e6;
    margin-bottom: 2rem;
}
.features-4 .card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.features-4 .row {
    justify-content: center;
}
  
/* software services */
.media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; 
}
.media-body {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; 
}
.shadow-sm {
    -webkit-box-shadow: 0 0.125rem 0.25rem rgba(13, 110, 253, 0.075) !important;
    box-shadow: 0 0.125rem 0.25rem rgba(13, 110, 253, 0.075) !important; 
} 
.shadow {
    -webkit-box-shadow: 0 0.5rem 1rem rgba(13, 110, 253, 0.15) !important;
    box-shadow: 0 0.5rem 1rem rgba(13, 110, 253, 0.15) !important; 
} 
.shadow-lg {
    -webkit-box-shadow: 0 1rem 3rem rgba(13, 110, 253, 0.175) !important;
    box-shadow: 0 1rem 3rem rgba(13, 110, 253, 0.175) !important; 
} 
.shadow-none {
    -webkit-box-shadow: none !important;
    box-shadow: none !important; 
}

.services {
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 100%;
    padding: 30px;
    margin-bottom: 60px; 
}
.services .icon {
    line-height: 1.3;
    position: relative;
    margin-top: -60px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 15px;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease; 
}
.services .icon span {
    font-size: 40px;
    color: #fff; 
}
.services .media-body h3 {
    font-size: 18px;
    font-weight: 500; 
}
.services:hover .icon {
    margin-left: 20px; 
}

/* Course Content */
.about-course {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #ffffff;
}
.about-course .card {
    background-color: transparent;
    border: none;
}
  
.about-course .card-box {
    width: 100%;
}
  
.about-course .card-img {
    text-align: center;
    flex-shrink: 0;
    width: auto;
    -webkit-flex-shrink: 0;
}
.about-course .card-img img {
    width: 100%;
}
.about-course .card-wrapper {
    border-radius: 4px;
    width: 100%;
    height: 100%;
} 
.about-course .img-wrapper {
    text-align: center;
}
.about-course img {
    margin: auto;
    width: 140px;
    padding-bottom: 2rem;
}
.about-course .row {
    align-items: flex-start;
}

@media (max-width: 992px) {
    .about-course .card-wrapper {
      margin-bottom: 2rem;
    }
}
@media (min-width: 768px) {
    .about-course .card-wrapper {
      padding: 2rem;
    }
}
@media (max-width: 767px) {
    .about-course .card-wrapper {
      padding: 1rem;
    }
}

/*
Portfolio
*/

.dark {
    color: #83F3ED;
    background: #011627;
    height: 300px;
}

.dark i {
    font-size: 1.3rem;
    color: #83F3ED;
}

.portfolio .img-fluid {
    height: 300px;
    object-fit: cover;
}

.portfolio .col-lg-3 {
    position: relative;
}

.filter {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #83F3ED;
    opacity: 0.8;
}

/*
Footer
*/
.foot-section {
    padding: 5em 0;
    position: relative; 
}
@media (max-width: 767.98px) {
    .foot-section {
    padding: 4em 0; } 
}
  
.footer {
    font-size: 16px;
    z-index: 0; 
}
.footer .footer-logo {
    text-transform: uppercase;
    letter-spacing: .1em; 
}
.footer .footer-widget h2 {
    font-weight: normal;
    margin-bottom: 5px;
    font-size: 22px;
    font-weight: 600; 
}
.footer .footer-widget ul li {
    margin-bottom: 10px; 
}
.footer .footer-heading-2 {
    font-size: 17px;
    font-weight: 400;
}
.footer .copyright-text p a {
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.footer .policy-menu {
    margin: 0;
    padding: 0;
    text-align: right;
}
.footer .policy-menu li {
    display: inline-block;
    margin-right: 15px;
}
.footer .policy-menu li:last-child {
    margin-right: 0;
}
.footer .policy-menu li::after {
    content: "|";
    position: relative;
    left: 10px;
}
.footer .policy-menu li:last-child::after {
    content: "";
}
    
.footer-social li {
    list-style: none;
    margin: 0 10px 0 0;
    display: inline-block; 
}
.footer-social li a {
    height: 40px;
    width: 40px;
    display: block;
    border-radius: 50%;
    position: relative; 
}
.footer-social li a span {
    position: absolute;
    font-size: 20px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); 
}

  

/*
Responsive
*/

@media(max-width: 991px){
    .navbar .nav-item {
        display: block;
        width: 100%;
        padding: 10px 0px;
    }
    .style-banner h1 {
        font-size: 44px;
    }
   .style-banner {
        padding: 7em 5em 0 3em;
    }
    h3.title-w3:before {
        left: 296px;
    }
    .banner-img {
        border-radius: 160px 0 0 319px;
    }
    p.title-para {
        font-size: 13px;
        margin-top: 3em;
    }
}

@media(max-width: 768px) {
    .style-banner h1 {
        font-size: 34px;
    }
    h3.title-w3 {
        font-size: 36px;
    }
    h3.title-w3:before {
        left: 150px;
    }

    .button-style {
        font-size: 13px;
    }

    .banner-img {
        border-radius: 140px 0 0 240px;
        min-height: 56vw;
        margin-left: 10em;
    }
}